:root{
    --black: #000;
    --white: #fff;
    --purple: #1F032A;
    --lightputple: #420857;
    --lightgreen: #334A15;
    --darkgreen: #0B2D1D;
    --orange: #FFA736;
    --heroshadow: rgba(255, 255, 255, 0.25);
    --vid: rgba(0, 0, 0, 0.681);
    --lightgrey: #8F8F8F;
    --darkgrey: #282828;
    --grey: #3C3C3C;
}

body.light-mode{
    --black: #ffffff;
    --white: #000000;
    --purple: #FFC2E1;
    --lightputple: #D8A8FA;
    --lightgreen: #BEF631;
    --darkgreen: rgb(51, 159, 39);
    --orange: #FFA736;
    --heroshadow: rgba(255, 255, 255, 0.25);
    --vid: rgba(0, 0, 0, 0);
    --lightgrey: #8F8F8F;
    --darkgrey: #d4d4d4;
    --grey: #a8a8a8;
}

@font-face {
    font-family: 'red';
    src: url(fonts/RedHatDisplay-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'red';
}

body{
    width: 1440px;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightgrey);
    transition: all 0.3s ease;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
        background-color: var(--lightgrey);
}

header{
    width: 1252px;
    height: 40px;
    padding: 42px 155px 0 33px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

header.shrink{
    padding: 30px 501px 0 33px;
        width: 932px;
    height: 54px;
}

header.shrink nav{
    padding: 15px 25px;
    background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(23.049999237060547px);
    border-radius: 136px;
}

nav {
    width: 438px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

nav a {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: all 0.3s ease;
}


nav a:hover {
    color: var(--white);
    font-weight: 700;
}

nav a.active {
    font-weight: 900;
}

.navbtn{
    width: 118px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.dark_mode_btn{
    width: 70px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/dark.png);
    background-size: cover;
}

body.light-mode .dark_mode_btn {
    background-image: url('assets/light.png');
}

.language{
    width: 38px;
    height: 38px;
    background-image: url(assets/langdark.png);
    background-size: cover;
}

body.light-mode .language {
    background-image: url('assets/language.png');
}

.hero{
    width: 1440px;
    height: 894px;
    background-image: url(assets/abouthero.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.herocont{
    width: 479px;
    height: 682px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 98px 132px 88px 116px;
    background-image: url(assets/herocont.png);
    background-size: cover;
    margin-top: 19px;
}

body.light-mode .herocont {
    background-image: url('assets/homeherowhite.png'); /* light mode image */
}

h1{
    color: var(--white);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.marg{
    margin-bottom: 19px;
}

.herosub{
    color: var(--white);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
}

.padding{
    padding: 0 13px;
}

p{
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.herotext{
    padding: 18px 90px;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 89px;
    border: 1px solid var(--white);
    background: var(--lightputple);
    box-shadow: 11px 11px 58.2px 0 rgba(0, 0, 0, 0.25);
    margin-top: 75px;
}

.sec1{
    width: 1440px;
    height: 1372px;
    background-color: var(--black);
}

.mission{
    width: 681px;
    height: 192px;
    background-color: var(--darkgrey);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 46px 63px 46px;
    justify-content: space-between;
    float: left;
    margin: 148px 0 0 76px;
    border-radius: 20px;
}

h2{
    color: var(--white);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 180% */
}

p{
    color: var(--white);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: left;
}

.op{
    opacity: 0.8;
}

.help{
    width: 383px;
    height: 293px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    margin-left: 37px;
    margin-top: 148px;
}

.s1titles{
    width: 639px;
    height: 85px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    margin: 37px 0 0 76px;
}

.s1sub{
    color: var(--white);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.tipsntricks{
    width: 1280px;
    height: 690px;
    padding: 35px 80px 0 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
}

.textalign{
    text-align: center;
}

.card1,
.card2,
.card3,
.card4{
    width: 254px;
    height: 312px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 338px 20.5px 43px 20.5px;
}

.card1{
    background-image: url(assets/tip1.png);
    background-size: cover;
}

.card2{
    background-image: url(assets/tip2.png);
    background-size: cover;
}

.card3{
    background-image: url(assets/tip3.png);
    background-size: cover;
}

.card4{
    background-image: url(assets/tip4.png);
    background-size: cover;
}

h3{
    color: var(--white);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.sec2{
    width: 1440px;
    height: 1018px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--darkgrey);
}

.s2cont{
    width: 1280px;
    height: 272px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.abtcard{
    width: 380px;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    background-image: url(assets/shadow.png);
    background-size: cover;
    border-radius: 20px;
border: 2px solid var(--white);
background: var(--black);
box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.40);
}

.abtnm{
    color: var(--white);
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 96px; /* 150% */
margin-top: 33.5px;
margin-left: 34px;
}

.abttitle{
    color: var(--white);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 150% */
margin-left: 34px;
}

.abtp{
    opacity: 0.8;
    width: 263px;
    font-size: 16px;
    margin-left: 34px;
    margin-bottom: 35px;
}

.abtp2{
    opacity: 0.8;
    width: 263px;
    font-size: 16px;
    margin-left: 25px;
}

.pfp{
    width: 80px;
    height: 80px;
    background-image: url(assets/profile.png);
    background-size: cover;
    margin: 25px 0 0 25px;
}

.time{
    color: var(--white);
    opacity: 0.6;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
margin: 0 0 25px 25px;
}

.name{
    margin: 0 0 0 25px;
}


.sec3{
    background-color: var(--grey);
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
.sec3-header{
    text-align: center;
    margin-bottom: 48px;
    margin-top: 77px;
}

.height{
        line-height: 50px;
}

.sec3-subtitle{
    margin-top: 12px;
    opacity: 0.8;
    color: var(--white);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* Grid */
.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 26px;
    width: 90%;
    margin-bottom: 80px;
}

/* Cards */
.info-card{
    background-color: var(--darkgrey);
    border-radius: 14px;
    padding: 28px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    opacity: 0;
    transform: translateY(20px);
    animation: riseIn 0.8s ease forwards;
    transition: 
        box-shadow 0.3s ease,
        transform 0.3s ease;
}

/* Stagger */
.info-card:nth-child(1){ animation-delay: 0.1s; }
.info-card:nth-child(2){ animation-delay: 0.15s; }
.info-card:nth-child(3){ animation-delay: 0.2s; }
.info-card:nth-child(4){ animation-delay: 0.25s; }
.info-card:nth-child(5){ animation-delay: 0.3s; }
.info-card:nth-child(6){ animation-delay: 0.35s; }
.info-card:nth-child(7){ animation-delay: 0.4s; }
.info-card:nth-child(8){ animation-delay: 0.45s; }


.card-title{
    margin-bottom: 12px;
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 400;
    color: var(--lightgrey);
}

.cards-container.expanded .card-text {
    -webkit-line-clamp: unset;
}

.read-more {
    margin-top: 12px;
    display: inline-block;
    color: var(--white);
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
}

.read-more:hover {
    opacity: 1;
    text-decoration: underline;
}

.info-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 14px 32px rgba(0,0,0,0.14);
}


@keyframes riseIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--purple), var(--black));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}


.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  to { transform: rotate(360deg); }
}


footer{
    width: 1307.887px;
    height: 278.4px;
    padding: 70px 66px 51.6px 67px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
}

.footerlinks{
    width: 1080px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.footercont{
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 9px;
    flex-direction: column;

}

.footertitle{
    color: var(--white);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.slogan{
    color: var(--white);
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.leftalign{
    text-align: left;
    width: 224px;
    color: var(--white);
    text-decoration: none;
}

.leftalign2{
    text-align: left;
    width: 300px;
    padding-right: 120px;
}

.linktiles{
    color: var(--white);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}

.line{
    background-color: var(--white);
    width: 1280px;
    height: 1px;
}

.policy{
    width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.terms{
    font-size: 14px;
    text-align: left;
}

.mright{
    margin-right: 800px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: var(--darkblu, var(--lightputple));
  color: var(--white, var(--white));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 1000;
  right: 250px;
  border: 1px solid var(--white);
}

#scrollTopBtn:hover {
  transform: scale(1.1);
}


#scrollTopBtn.show {
  opacity: 1;
}
