:root{
    --black: #000;
    --white: #fff;
    --purple: #1F032A;
    --lightputple: #420857;
    --lightgreen: #334A15;
    --darkgreen: #0B2D1D;
    --orange: #FFA736;
    --heroshadow: rgba(255, 255, 255, 0.25);
    --vid: rgba(0, 0, 0, 0.681);
    --lightgrey: #8F8F8F;
    --darkgrey: #282828;
}

@font-face {
    font-family: 'red';
    src: url(fonts/RedHatDisplay-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'red';
}

body{
    width: 1440px;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
        background-color: var(--lightgrey);
}

header{
    width: 1252px;
    height: 40px;
    padding: 42px 155px 0 33px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

header.shrink{
    padding: 30px 501px 0 33px;
        width: 906px;
    height: 54px;
}

header.shrink nav{
    padding: 15px 25px;
    background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(23.049999237060547px);
    border-radius: 136px;
}

nav{
    width: 438px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
        transition: all 0.3s ease-in-out;
}

a{
    color: var(--white);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.selected{
    font-weight: 900;
}

.navbtn{
    width: 118px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.dark_mode_btn{
    width: 70px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
        background-color: var(--orange);
}

.language{
    width: 38px;
    height: 38px;
    fill: var(--black);
    border-radius: 50px;
}

.hero{
    width: 1440px;
    height: 894px;
    background-image: url(assets/abouthero.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.herocont{
    width: 479px;
    height: 682px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 98px 132px 88px 116px;
    background-image: url(assets/herocont.png);
    background-size: cover;
    margin-top: 19px;
}

h1{
    color: var(--white);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.marg{
    margin-bottom: 19px;
}

.herosub{
    color: var(--white);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
}

.padding{
    padding: 0 13px;
}

p{
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.herotext{
    padding: 18px 90px;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 89px;
    border: 1px solid var(--white);
    background: var(--lightputple);
    box-shadow: 11px 11px 58.2px 0 rgba(0, 0, 0, 0.25);
    margin-top: 75px;
}

.sec1{
    width: 1440px;
    height: 1372px;
    background-color: var(--black);
}

.mission{
    width: 681px;
    height: 192px;
    background-color: var(--darkgrey);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 46px 63px 46px;
    justify-content: space-between;
    float: left;
    margin: 148px 0 0 76px;
    border-radius: 20px;
}

h2{
    color: var(--white);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 180% */
}

p{
    color: var(--white);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: left;
}

.op{
    opacity: 0.8;
}

.help{
    width: 383px;
    height: 293px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    margin-left: 37px;
    margin-top: 148px;
}

.s1titles{
    width: 639px;
    height: 85px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    margin: 37px 0 0 76px;
}

.s1sub{
    color: var(--white);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.tipsntricks{
    width: 1280px;
    height: 690px;
    padding: 35px 80px 0 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
}

.textalign{
    text-align: center;
}

.card1,
.card2,
.card3,
.card4{
    width: 254px;
    height: 312px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 338px 20.5px 43px 20.5px;
}

.card1{
    background-image: url(assets/tip1.png);
    background-size: cover;
}

.card2{
    background-image: url(assets/tip2.png);
    background-size: cover;
}

.card3{
    background-image: url(assets/tip3.png);
    background-size: cover;
}

.card4{
    background-image: url(assets/tip4.png);
    background-size: cover;
}

h3{
    color: var(--white);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.sec2{
    width: 1440px;
    height: 1018px;
}