:root{
    --black: #000;
    --white: #fff;
    --purple: #1F032A;
    --lightputple: #420857;
    --lightgreen: #334A15;
    --darkgreen: #0B2D1D;
    --orange: #FFA736;
    --heroshadow: rgba(255, 255, 255, 0.25);
}

@font-face {
    font-family: 'red';
    src: url(fonts/RedHatDisplay-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'red';
}

body{
    width: 1440px;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
        background-color: var(--purple);
}

header{
    width: 1252px;
    height: 40px;
    padding: 42px 155px 0 33px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

nav{
    width: 438px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

a{
    color: var(--white);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.selected{
    font-weight: 900;
}

.navbtn{
    width: 118px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.dark_mode_btn{
    width: 70px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
        background-color: var(--orange);
}

.language{
    width: 38px;
    height: 38px;
    background-color: var(--black);
    border-radius: 50px;
}

.hero{
    width: 1440px;
    height: 894px;
    background-image: url(assets/homehero.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.herocont{
    width: 479px;
    height: 682px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 98px 132px 88px 116px;
    background-image: url(assets/herocont.png);
    background-size: cover;
    margin-top: 19px;
}

h1{
    color: var(--white);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.marg{
    margin-bottom: 19px;
}

.herosub{
    color: var(--white);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
}

.padding{
    padding: 0 13px;
}

p{
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.herotext{
    padding: 18px 90px;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 89px;
    border: 1px solid #FFF;
    background: var(--lightputple);
    box-shadow: 11px 11px 58.2px 0 rgba(0, 0, 0, 0.25);
    margin-top: 75px;
}