:root{
    --black: #000;
    --white: #fff;
    --purple: #1F032A;
    --lightputple: #420857;
    --lightgreen: #334A15;
    --darkgreen: #0B2D1D;
    --orange: #FFA736;
    --heroshadow: rgba(255, 255, 255, 0.25);
    --vid: rgba(0, 0, 0, 0.681);
}

body.light-mode{
    --black: #ffffff;
    --white: #000000;
    --purple: #FFC2E1;
    --lightputple: #D8A8FA;
    --lightgreen: #BEF631;
    --darkgreen: rgb(51, 159, 39);
    --orange: #FFA736;
    --heroshadow: rgba(255, 255, 255, 0.25);
    --vid: rgba(0, 0, 0, 0.79);
}

@font-face {
    font-family: 'red';
    src: url(fonts/RedHatDisplay-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'red';
}

body{
    width: 1440px;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--purple);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
        background-color: var(--purple);
}

header{
    width: 1252px;
    height: 40px;
    padding: 42px 155px 0 33px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

header.shrink{
    padding: 30px 501px 0 33px;
        width: 932px;
    height: 54px;
}

header.shrink nav{
    padding: 15px 25px;
    background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(23.049999237060547px);
    border-radius: 136px;
}

nav {
    width: 438px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

nav a {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: all 0.3s ease;
}


nav a:hover {
    color: var(--white);
    font-weight: 700;
}

nav a.active {
    font-weight: 900;
}

.navbtn{
    width: 118px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.dark_mode_btn{
    width: 70px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/dark.png);
    background-size: cover;
}

body.light-mode .dark_mode_btn {
    background-image: url('assets/light.png');
}

.language{
    width: 38px;
    height: 38px;
    background-image: url(assets/langdark.png);
    background-size: cover;
}

body.light-mode .language {
    background-image: url('assets/language.png');
}

.hero{
    width: 1440px;
    height: 894px;
    background-image: url(assets/homehero.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

body.light-mode .herocont {
    background-image: url('assets/homeherowhite.png');
}

.herocont{
    width: 479px;
    height: 682px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 98px 132px 88px 116px;
    background-image: url(assets/herocont.png);
    background-size: cover;
    margin-top: 19px;
}

h1{
    color: var(--white);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.marg{
    margin-bottom: 19px;
}

.herosub{
    color: var(--white);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
}

.padding{
    padding: 0 13px;
}

p{
    color: var(--white);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.herotext{
    padding: 18px 90px;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 89px;
    border: 1px solid var(--white);
    background: var(--lightputple);
    box-shadow: 11px 11px 58.2px 0 rgba(0, 0, 0, 0.25);
    margin-top: 75px;
    cursor: pointer;
}

.sec1{
    width: 1320px;
    height: 625px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 116px 60px 84px 60px;
    justify-content: space-between;
    background-color: var(--black);
}

.s1cont{
    width: 625px;
    height: 625px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    color: var(--white);
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.s1sub{
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 379px;
    text-align: left;
}

.cardgrid {
  display: grid;
  grid-template-columns: repeat(2, 295px); 
  grid-template-rows: repeat(2, 218px);  
  column-gap: 35px;
  row-gap: 28px;
  margin-top: 45px;
}

.card {
  width: 258px;
  height: 190px;
  padding: 14px 16px 14px 21px;
  background-color: var(--lightputple);
  border-radius: 10px;
    border: 1px solid var(--white);
    box-shadow: 11px 11px 58.2px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.cardtext{
    width: 110px;
    text-align: left;
}

.cardimg{
    width: 125px;
height: 190px;
border-radius: 4px;
}

.card2img{
    width: 100%;
    height: 100%;
}

.sec2{
    width: 1339.11px;
    height: 687px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 62px 50.5px;
    justify-content: space-between;
}

.stats{
    width: 1339.11px;
height: 580px;
background-image: url(assets/stats.png);
background-size: cover;
}

.sec3{
    width: 1342px;
height: 800px;
padding: 98px 49px;
background-color: var(--black);
display: flex;
align-items: flex-start;
justify-content: space-between;
flex-direction: column;
}

.s3cont{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px;
}

.bigvideomask {
  width: 699px;
  height: 491px;
  border-radius: 20px;
  border: 3px solid var(--white);
}

.bigvideo {
  width: 100%;
  height: 100%;
opacity: 50%;
  border-radius: 20px;
  border: 2px solid var(--white);
}

.s3text{
    width: 610px;
    height: 491px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.s3p{
    font-size: 20px;
    text-align: left;
}

.s3btn{
    padding: 7px 134px;
    border-radius: 37px;
border: 1px solid var(--white);
background: var(--black);
    font-size: 20px;
    color: var(--white);
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

button{
    transition: all 0.3s ease;
}

button:hover{
    background-color: var(--white);
    color: var(--black);
    transform: translateY(-5px);
}

.videomask{
    width: 417px;
    height: 161px;
    border-radius: 11px;
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.videomask:hover .vid1{
    transform: scale(1.2);
}

.videomask:hover .vid2{
    transform: scale(1.2);
}

.videomask:hover .vid3{
    transform: scale(1.2);
}

.vid1{
    width: 100%;
    height: 100%;
    background-image: url(assets/mind.gif);
    background-size: cover;
    background-position: center;
    opacity: 32%;
        transition: all 0.3s ease;
}

.vid2{
    width: 330%;
    height: 330%;
    opacity: 50%;
    transform-origin: center;
        transition: all 0.3s ease;
}

.vid3 {
    width: 100%;
    height: 100%;
    background-image: url(assets/body.gif);
    background-size: cover;
    background-position: center;
    opacity: 32%;
        transition: all 0.3s ease;
}


.vidtitle{
    position: absolute;
    width: 100%;
    z-index: 3;
    left: 155px;
}

.sec4{ 
    padding: 91px 21px;
    width: 1345px;
    height: 839px;
    display: flex;
    align-items: center;
}

.arrow1,
.arrow2{
width: 63.5px;
height: 127px;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.arrow1:hover,
.arrow2:hover{
    filter: drop-shadow(0 0 10px rgba(82, 82, 82, 0.6));
        background-color: rgba(0, 0, 0, 0);
}


.arrow1{
    background-image: url(assets/left.png);
    background-color: rgba(0, 0, 0, 0);
}

.arrow2{
    background-image: url(assets/right.png);
        background-color: rgba(0, 0, 0, 0);
}

.imageslides{
    width: 1217px;
    height: 839px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.slides-track{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
        position: absolute;
    inset: 0;
    z-index: 1;
}

.slide{
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.slide1{ background-image: url(assets/slider1.jpg); }
.slide2{ background-image: url(assets/slider2.jpg); }
.slide3{ background-image: url(assets/slider3.jpg); }
.slide4{ background-image: url(assets/slider4.jpg); }
.slide5{ background-image: url(assets/slider5.jpg); }
.slide6{ background-image: url(assets/slider6.jpg); }
.slide7{ background-image: url(assets/slider7.jpg); }

.overlay-content{
    position: relative;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 191px;
}


.slidestitle{
    width: 614px;
    height: 238px;
text-align: center;
font-size: 96px;
font-style: normal;
font-weight: 900;
line-height: 115.591%;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.slidessub{
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 115.591%;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.sec6{
    width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 238.94px;
    background-color: var(--black);
    padding: 120px 220.5px;
}

.s6text{
    color: var(--white);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 33.78px; /* 140.749% */
}

.btnsdiv{
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
}

.btn2{
    background-color: var(--black);
}

.sec5{
    height: 588px;
    width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 80px 92px 80px;
}

.s5cont{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.card2{
    width: 380px;
    height: 331px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

.card22imgdiv{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 4px;
        border: 0.8px solid var(--white);
    background: var(--lightputple);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.40);
        border-radius: 15px;
        transition: all 0.3s ease;
}

.card22imgdiv:hover .card22img{
    scale: 1.03;
}

.card22img{
    height: 180px;
    width: 340px;
    border-radius: 10px;
    margin-top: 15px;
            transition: all 0.3s ease;
}

.card22title{
    color: var(--white);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 9px;
}

.card22p{
    width: 292px;
}

.s5btn{
    padding: 20px 104px;
    width: 392px;
height: 61px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
background-color: var(--black);
border-radius: 20px;
border: 1.6px solid var(--white);
box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.50);
}

.btntxt{
    font-weight: 300;
}



#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, var(--purple), var(--black));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.cookie {
  width: 120px;
  height: 120px;
  background-image: url('assets/spinner.png');
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}


.progress-container {
  width: 300px;
  height: 15px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  overflow: hidden;
}


.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #FFD700;
  transition: width 0.2s ease;
}



@keyframes spin {
  to { transform: rotate(360deg); }
}


footer{
    width: 1307.887px;
    height: 278.4px;
    padding: 70px 66px 51.6px 67px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
}

.footerlinks{
    width: 1080px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.footercont{
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 9px;
    flex-direction: column;

}

.footertitle{
    color: var(--white);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.slogan{
    color: var(--white);
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.leftalign{
    text-align: left;
    width: 224px;
    color: var(--white);
    text-decoration: none;
}

.leftalign2{
    text-align: left;
    width: 300px;
    padding-right: 120px;
}

.linktiles{
    color: var(--white);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}

.line{
    background-color: var(--white);
    width: 1280px;
    height: 1px;
}

.policy{
    width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.terms{
    font-size: 14px;
    text-align: left;
}

.mright{
    margin-right: 800px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: var(--darkblu, var(--lightputple));
  color: var(--white, var(--white));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 1000;
  right: 250px;
  border: 1px solid var(--white);
}

#scrollTopBtn:hover {
  transform: scale(1.1);
}


#scrollTopBtn.show {
  opacity: 1;
}
