:root{
    --black: #000;
    --white: #fff;
    --purple: #1F032A;
    --lightputple: #420857;
    --lightgreen: #334A15;
    --darkgreen: #0B2D1D;
}

@font-face {
    font-family: ;
    src: url();
}

*{
    margin: 0;
    padding: 0;
    font-family: ;
}